
<p id="notice"><%= notice %></p>

<p>
  <strong>Medicinale:</strong>
  <%= @prescription.medicinale %>
</p>

<p>
  <strong>Descrizioneutilizzo:</strong>
  <%= @prescription.descrizioneUtilizzo %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |

